/*
 * Copyright 2014, Gregg Tavares.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Gregg Tavares. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

body{
    background-color: black;
    color: white;
    font-family: tron, sans-serif;

}

 @font-face {
      font-family: "tron";
      src: url("ShareTechMono-Regular.ttf");
    }


/* HFT creates a div with this ID and embeds controller.html into it... */
#hft-content {
    position:relative;
    z-index:0;
}


#hft-menu { display:none !important;}

#hft-content{
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#playing, #waiting, #go, #enterName { display:none; }

#playing.active, #waiting.active, #go.active, #enterName.active { display:block; }


#rotatePhone{
    display: none;
    text-align: center;
    padding-top: 20%;
    z-index:9998;
    background-color: black;
    color:white;
    font-size: 60px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#buttons {
    display:block;
    position: absolute;
    z-index: 99999;
    
    top:    0px;
    bottom: 0px;
    left:   0px;
    right:  0px;
    /*border:1px solid #fff;*/

    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#buttons .button {
    width:33.3%;
    text-align:center;
    color:#fff;
    font-size:30px;
    display:block;
    position:absolute;
    opacity:0.8;

    border:10px solid #000;

    background:#000;
    /* center magic */
    text-align:center;
    white-space:nowrap;
}
/* center magic */
#buttons .button:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

#buttons .button span {
    font-size:60px;
    color:#000;
    /*background:#fff;*/
    font-weight:bold;
    width:80px;
    height:80px;

    /* center magic */
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    /*font-family: monospace !important;*/
}

#button-up {
    top:0;
    bottom:50%;
    left:33.3%;
    /*border-bottom:5px solid #fff;*/
    width:33.4% !important;
}

#button-up span, #button-down span { top:28% !important; }

#button-down {
    top:50%;
    bottom:0;
    left:33.3%;
    /*border-top:5px solid #fff;*/
    width:33.4% !important;
}
#button-left {
    top:0;
    bottom:0;
    left:0;
    /*border-right:10px solid #fff;*/
}
#button-right {
    top:0;
    bottom:0;
    right:0;
    /*border-left:10px solid #fff;*/
}

/*to try some bug fixing by making 3 columns 33% and fitting the buttons into the 3 cols...*/
/*#leftButton, #middleButton, #rightButton{
    float:left;
    width:33%;
    height:100%;

}*/

#waiting{
    line-height: 4vw;
    font-size: 2.5vw;
    position: relative;
    /*height:100%;*/
}

#kills, #survivals, #readyToPlay, .kills {
    position: relative;
    width:33%;
    height:100%;
    padding-left:10px;
    padding-top:6vw;
    float:left;
}

.kills {
    list-style-type:none;
    font-size:3.3vw;
    line-height:5.5vw;
}
.kills li {
    list-style-type:none;
    margin-left:2vw;
    position:relative;
}
.kills .hs-num,
.kills .hs-name,
.kills .hs-score {
    text-align:left;
    display:inline-block;
}
.kills .hs-name {
    color:#fff;
    padding-left:20px;
}
.kills .hs-score { 
    position:absolute;
    right:0;
    top:0;
    color:cyan;
}
.kills .hs-num {
    padding:0 10px;
    /*color:#fff;
    background:magenta;*/
    color:magenta;
    border-bottom:16px solid #000;
}
#kills01 {
    /*border-right:1px solid #ddd;*/
    padding-right:10px;
}
#kills02 {
    padding-left:10px;
}

#waiting {
    position:relative;
}
#hs-title {
    position:absolute;
    margin:0;
    padding:3vw 0 0 4vw;
    top:0;
    left:0;
    line-height:3.5vw;
    font-size:3.5vw;
}
#readyToPlay ul {
    margin:0;
    margin-top:-4vw;
    padding:0;
}
#readyToPlay ul li {
    list-style-type:none;
    font-size:3.5vw;
    padding:1vw 0;
    margin:0;
}
#readyToPlay ul li:first-child {
    color:yellow;
    padding-bottom:5vw;
}
#playerNM {
    font-size:5vw;
    cursor:pointer;
}
#playerRank { 
    padding:0 10px;
    /*color:#fff;*/
    color:magenta;
}
#playerHS { color:cyan; }


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #rotatePhone {
        display:block;
    }
}


#killNames{
    position: relative;
    width:50%;
    float: left;
}

#survivalNames{
    position: relative;
    width:40%;
    float: left;
}

#killList{
    position: relative;
    width:45%;
    float: left;
    text-align: right;
    border-right: 1px white solid;
    padding-right:20px;
}

#survivalList{
    position: relative;
    width:60%;
    float: left;
    padding-right:20px;
    text-align: right;
    border-right: 1px white solid;

}

#readyToPlay{
    text-align: center;
}

#readyToPlayBtn{
    margin: 0 auto;
    width:70%;
    height: 30%;
    background-color: white;
    color:black;
    padding: 20% 5px;
    font-size: 6vw; 
    margin-top: 20%;
    display: block;
    text-decoration: none;
}

#go, #enterName{
    text-align: center;
    font-size: 2vw;
    height:100%;
    padding: 20px;
}

#goBtn{
    background-color: white;
    /*color:black;*/
    margin: 0 auto;
    width: 50%;
    padding: 20%, 10px, 20%, 10px;
    text-align: center;
    font-size: 10vw; 
    margin-top: 5%;
    display: block;
    text-decoration: none;
}

#playerIcon{
    height: 30%;
    background-color: black;
}

#wormBody{
    position: relative;
    top:40%;
    width:70%;
    margin: 0 auto;
    /*background-color: red;*/
    height:20%;
}

#wormHead{
    width:5%;
    height:100%;
    /*background-color: blue;*/
}

#countdown{
    font-size: 6vw; 
}

/*fix the text input */
#inputName {
    -moz-user-select: text !important;
    -ms-user-select: text !important; 
    -webkit-user-select: text !important;
}

#enterName h3{font-size: 6vw; margin-top:2%;}

#inputName{
    width:50%;
    font-size: 6vw;
    margin-bottom: 8%;
    font-family: tron, sans-serif;
    border:0px;
    padding:10px;
    text-align: center;
}

#inputNameDone{
    font-size: 6vw;
    width: 30%;
    height: 17%;
    color:black;
    background-color: white;
    padding:1%;
    margin: 0 auto;

}
